* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
}

/************* LOGIN *************/

.login {
    display: grid;
    width: 20%;
    margin: auto;
    margin-top: 3%;
    padding: 2%;
    border: 1px solid blue;
    box-shadow:  0 0 20px cyan;
    border-radius: 5%;
}
.login img {
    border-radius: 50%;
    width: 60%;
    margin: auto;
    margin-bottom: 8%;
    border: 1px solid blue;
}
.login form {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}
.login form div {
    margin-bottom: 2%;
}
.login label {
    font-size: 70%;
}
.login input {
    font-size: 80%;
    padding: 2%;
    width: 95%;
    border: 0;
    border-bottom: 1px solid blue;
    margin-bottom: 5%;
    background-color: white;
}
.login input:focus {
    outline: none;
}
.login button {
    margin: auto;
    margin-top: 8%;
    width: 60%;
    padding: 1%;
    border: 1px solid black;
    font-size: 80%;
    background-color: blue;
    color: white;
    border-radius: 2%;
}

/************* HEADER *************/

header {
    display: flex;
}
header img {
    width: 50%;
}
header button {
    padding: 1%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: .2s;
}
header button:hover {
    background-color: darkblue;
    font-size: 110%;
}