* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
}

/************* LOGIN *************/

.login {
    display: grid;
    width: 60%;
    margin: auto;
    margin-top: 20%;
    padding: 5%;
    border: 1px solid black;
}
h2 {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 5%;
    font-size: 200%;
}
    .login form {
    display: grid;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/************* HEADER *************/

header {
    display: flex;
}
header img {
    width: 50%;
}
header button {
    padding: 1%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: .2s;
}
header button:hover {
    background-color: darkblue;
    font-size: 110%;
}